*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#root {
  margin: 0;
  padding: 0;
  text-align: initial;
}

.page {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
.page__content {
  flex: 1 0 auto;
}

@media (min-width: 1024px) {
  .page__section--home {
    display: none;
  }
}
@media (max-width: 1023px) {
  .page__section--home {
    display: block;
  }
}
