*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: #ffffff;
  color: #111;
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  overflow-x: hidden;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scrollbar-gutter: stable both-edges;
}

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

#root > div {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#root > div > main {
  padding-bottom: 0;
  display: flow-root;
}

.page--home > main {
  padding-bottom: 0;
}

.page--home > main > :last-child {
  margin-bottom: 0;
}

.page--saved > main {
  padding-bottom: 0;
}

:root {
  --container-max: 1232px;
  --pad-mobile: 16px;
  --pad-tablet: 24px;
  --pad-desktop: 104px;
}

@media (min-width: 1440px) {
  .page--saved > main {
    padding-bottom: 62px;
  }
}

@media (min-width: 1024px) {
  #root > .page--home {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
  #root > .page--home > main {
    flex: 1 0 auto;
  }
  #root > .page--home.page--no-results {
    overflow: hidden;
  }
}

/*@media (min-width: 768px) {
  #root > .page--home.page--no-results {
    display: grid;
    grid-template-rows: var(--hero) 1fr auto;
    height: 100dvh;
  }
  #root > .page--home.page--no-results .header {
    height: auto;

    padding-bottom: 88px;
    margin-bottom: 0;
  }
}

@media (max-width: 767.98px) {
  #root > .page--home.page--no-results {
    display: grid;
    grid-template-rows: var(--hero) 1fr auto;
    height: 100dvh;
  }
  #root > .page--home.page--no-results .header {
    height: auto;

    padding-bottom: 72px;
    margin-bottom: 0;
  }
}
